<nav>

	<a href="{{ path ('app_home') }}">Home</a>
	<a href="{{ path ('app_adverts') }}">Adverts</a>

	{% if app.user %}

        {% if is_granted('ROLE_ADMIN') %}
	    	<a href="">Admin</a>
        {% endif %}
        
		{{ app.user.username }}
		<a href="">Manage Account</a>
		<a href="{{ path ('app_logout') }}">Log Out</a>

	{% else %}

		<a href="{{ path ('app_register') }}">Sign Up</a>
		<a href="{{ path ('app_login') }}">Log In</a>

	{% endif %}
</nav>
<br><hr><br>