{% extends 'base.html.twig' %}

{% block title %}Advert index{% endblock %}

{% block body %}
    <h1>Browse the Adverts</h1>

    
    {# filtres #}
    <div>
        {# 
            FILTERS :
            - tags
                - game
                - genre
                - level
                - modality
            - order by
            - published before
            - published after
         #}
    </div>

    {# affichage #}
    <div class="cards-container d-flex justify-content-around flex-wrap">
        {% for ad in adverts %}

            <div class="card w-25">
                <div class="card-header d-flex justify-content-between flex-wrap">
                    <h5>{{ ad.author.username }}</h5>
                    <p class="align-self-end">{{ timeAgo(ad.publishDate).text }}</p>

                    {# voir comment mieux faire affichage tag #}
                    <div class="d-flex justify-content-between flex-wrap">
                        {% for tag in ad.tags %}
                            <p>{{ tag.name }}</p>
                        {% endfor %}
                    </div>
                </div>

                <div class="card-body d-flex flex-column justify-content-between">
                    <p class="card-text">{{ ad.content|wrap(75) }}</p>
                    <a href="{{ path('app_advert_show', {'id': ad.id}) }}" class="align-self-end">more</a>
                </div>

                <div class='card-footer d-flex justify-content-end'>
                    {{ ad.comments|length }} comments
                </div>
            </div>

        {% endfor %}
    </div>

    {# pagination #}
    <div class="d-flex justify-content-center">
        {% if current_page > 1 %}
            <a href="{{ path('app_advert_index', {'page': current_page - 1}) }}">&lt;</a>        
        {% endif %}

        {{ current_page }} / {{ total_pages }}

        {% if current_page < total_pages %}
            <a href="{{ path('app_advert_index', {'page': current_page + 1}) }}">&gt;</a>
        {% endif %}
    </div>

    {# <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>PublishDate</th>
                <th>IsOpen</th>
                <th>Area</th>
                <th>Content</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for advert in adverts %}
            <tr>
                <td>{{ advert.id }}</td>
                <td>{{ advert.publishDate ? advert.publishDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ advert.isOpen ? 'Yes' : 'No' }}</td>
                <td>{{ advert.area }}</td>
                <td>{{ advert.content }}</td>
                <td>
                    <a href="{{ path('app_advert_show', {'id': advert.id}) }}">show</a>
                    <a href="{{ path('app_advert_edit', {'id': advert.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table> #}

    <hr>

    <a href="{{ path('app_advert_new') }}">Create new</a>

    {% block customJS %}
        {{ encore_entry_script_tags('adBasis') }}
    {% endblock %}
    {% block customCSS %}
        {{ encore_entry_link_tags('adBasis') }}
    {% endblock %}

{% endblock %}
