<div class="d-flex justify-content-around">
    {% for ad in latest %}

        <div class="card w-25">
            <div class="card-header d-flex justify-content-between flex-wrap">
                <h5>{{ ad.author.username }}</h5>
                <p class="align-self-end">{{ timeAgo(ad.publishDate).text }}</p>

                <div class="d-flex justify-content-between flex-wrap">
                    <p>
                        {% for tag in ad.tags %}
                            <u>{{ tag.name }}</u> 
                        {% endfor %}
                    </p>
                </div>
            </div>

            <div class="card-body d-flex flex-column justify-content-between">
                <p class="card-text">{{ ad.content|wrap(75) }}</p>

                <a href="{{ path('app_advert_show', {'id': ad.id}) }}" class="align-self-end">more</a>
            </div>

            <div class='card-footer d-flex justify-content-end'>
                {{ ad.comments|length }} comments
            </div>
        </div>
        
    {% endfor %}
</div>
{# {{ dump(latest) }} #}