{% extends 'base.html.twig' %}

{% block title %}Test Controller!{% endblock %}

{% block body %}

    <h1>{{ sample.username }} messages</h1>

    {% for g in groups %}
        <div>
            <h2>{{ g.name }} discussion</h2>
            {% for m in g.messages %}
                <div>
                    <p>{{ m.author.username }}</p>
                    <p>{{ m.content }}</p>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
    

    {% for p in discussion %}
        <div>
            <h2>Discussion with {{ p.username }}</h2>
            {% for m in sample.getMessages() %}
            {% if m.author == p or m.getTarget() == p %}
                <div>
                    <p>{{ m.author.username }}</p>
                    <p>{{ m.content }}</p>
                </div>
            {% endif %}
            {% endfor %}
        </div>
    {% endfor %}

{% endblock %}
