{% extends 'base.html.twig' %}

{% block title %}Advert index{% endblock %}

{% block body %}
    <h1>Browse the Adverts</h1>

    {# filtres #}
    <div>
        {{ include('advert/_filter.html.twig') }}
    </div>

    <a href="{{ path('app_advert_new') }}">Create new</a>

    {{ dump(app.request.query) }}
    {{ knp_pagination_sortable(adverts, 'Newest', 'a.id', {}, {'direction': 'desc'}) }}
    {{ knp_pagination_sortable(adverts, 'Oldest', 'a.id', {}, {'direction': 'asc'}) }}
    {{ knp_pagination_sortable(adverts, 'Most popular', 'comment_count', {}, {'direction': 'desc'}) }}

    {# affichage #}
    <div class="cards-container d-flex justify-content-around flex-wrap">
        {% for ad in adverts %}

            <div class="card w-25">
                <div class="card-header d-flex justify-content-between flex-wrap">
                    <h5>{{ ad.author.username }}</h5>
                    <p class="align-self-end">{{ timeAgo(ad.publishDate).text }}</p>

                    <div class="d-flex justify-content-between flex-wrap">
                        <p>
                            {% for tag in ad.tags %}
                                <u>{{ tag.name }}</u> 
                            {% endfor %}
                        </p>
                    </div>
                </div>

                <div class="card-body d-flex flex-column justify-content-between">
                    <p class="card-text">{{ ad.content|wrap(75) }}</p>
                    <a href="{{ path('app_advert_show', {'id': ad.id}) }}" class="align-self-end">more</a>
                </div>

                <div class='card-footer d-flex justify-content-end'>
                    {{ ad.comments|length }} comments
                </div>
            </div>

        {% endfor %}
    </div>

    {# pagination #}
    <div class="d-flex justify-content-center">
        {{ knp_pagination_render(adverts, ) }}
    </div>

    <hr>


    {% block customJS %}
        {{ encore_entry_script_tags('adBasis') }}
    {% endblock %}
    {% block customCSS %}
        {{ encore_entry_link_tags('adBasis') }}
    {% endblock %}

{% endblock %}
