{% extends 'base.html.twig' %}

{% block title %}Advert{% endblock %}

{% block body %}
    <h1>{{ advert.author.username }} is looking for</h1>

    {# annonce #}
    <div class="rounded border bg-light">
        <p>posted on {{ advert.publishDate|format_datetime(pattern: 'yy.MM.dd') }} ({{ timeAgo(advert.publishDate).text }})</p>

        <p>
            {% for tag in advert.tags %}
                <u>{{ tag.name }}</u>
            {% endfor %}
        </p>
        <p>
            {% if advert.area %}
                Around : {{ advert.area }}
            {% endif %}
        </p>

        <hr>
        
        <p>{{ advert.content }}</p>
    </div>

    {% if app.user == advert.author or is_granted('ROLE_ADMIN') %}
        <button id="closeAd">Close advert</button>
        <button id="deleteAd">Delete advert</button>
    {% endif %}

    {# commentaires #}
    <h3>Comments ({{ advert.comments|length }})</h3>

    <div>
        {% if not is_granted('ROLE_USER') %}
            <p>Sorry, you need to be loged in to see comments</p>
        {% else %}
            {% for comment in advert.comments %}
            
            {# différencier les messages admin #}
                {% if comment.answerTo is empty %}
                    <div id="{{ comment.id }}">
                        <div class="rounded border border-secondary bg-light">
                            <p>{{ comment.author.username }} ({{ timeAgo(comment.publishDate).text }})</p>
                            <p>{{ comment.content }}</p>
                        </div>

                        <button class="answerTo">Answer</button>
                        {% if app.user == comment.author %}{% endif %}
                        
                    </div>

                    {# réponses #}
                    {# voir comment tabuler #}
                    <div id="t{{ comment.id }}">
                        {% for answer in comment.answers %}
                            <div id="a{{ answer.id }}">
                                <div class="rounded border bg-light">
                                    <p>{{ answer.author.username }} ({{ timeAgo(answer.publishDate).text }})</p>
                                    <p>{{ answer.content }}</p>
                                </div>

                                <button class="answerTo">Answer</button>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

            {% endfor %}
        {% endif %}
    </div>

    <h3>Leave a comment</h3>

    <div>
        {# nouveau commentaire#}
        <p id="answerHelp"></p>
        {% include('advert/_new_comment.html.twig') %}
    </div>


    {# séparation trucs par défaut symfony #}
    <hr>

    <a href="{{ path('app_advert_index') }}">back to list</a>

    {# <a href="{{ path('app_advert_edit', {'id': advert.id}) }}">edit</a> #}

    {# {{ include('advert/_delete_form.html.twig') }} #}



    {% block customJS %}
        {{ encore_entry_script_tags('advertClose') }}
        {{ encore_entry_script_tags('advertDelete') }}
        {{ encore_entry_script_tags('answerComment') }}
    {% endblock %}
    {# {% block customCSS %}
        {{ encore_entry_link_tags('') }}
    {% endblock %} #}
{% endblock %}
