{% extends 'base.html.twig' %}

{% block title %}Advert{% endblock %}

{% block body %}

    {# liens retour #}
    <a href="{{ path('app_advert_index') }}">Back to list</a>


    {% if advert.isOpen %}
        <h1>{{ advert.author.username }} is looking for</h1>
    {% else %}
        <h1>{{ advert.author.username }} was looking for</h1>
    {% endif %}
    
    {# annonce #}
    <div class="rounded border bg-light">
        <p>posted on {{ advert.publishDate|format_datetime(pattern: 'yy.MM.dd') }} ({{ timeAgo(advert.publishDate).text }})</p>
        <p>
            {% for tag in advert.tags %}
                <u>{{ tag.name }}</u>
            {% endfor %}
        </p>
        <p>
            {% if advert.area %}
                Around : {{ advert.area }}
            {% endif %}
        </p>
        <hr>
        <p>{{ advert.content }}</p>
    </div>

    {% if app.user == advert.author or is_granted('ROLE_ADMIN') %}
        {% if advert.isOpen %}
            {% include('advert/_close_form.html.twig') %}
        {% endif %}
            {{ include('advert/_delete_form.html.twig') }}
    {% endif %}
    {# <a href="{{ path('app_advert_edit', {'id': advert.id}) }}">edit</a> #}

    {# commentaires #}
    <h3>Comments ({{ advert.comments|length }})</h3>

    <div>
        {% if not is_granted('ROLE_USER') %}
            <p>Sorry, you need to be loged in to see comments</p>
        {% else %}
            {% for comment in advert.comments %}
            
                {% if comment.answerTo is empty %}
                    <div id="{{ comment.id }}">
                        <div class="rounded border border-secondary bg-light">
                            <p>{{ comment.author.username }} ({{ timeAgo(comment.publishDate).text }})</p>
                            <p>{{ comment.content }}</p>
                        </div>

                        {% if advert.isOpen %}
                            <button class="answerTo">Answer</button>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                            {% include('comment/_delete_form.html.twig') %}
                        {% endif %}
                        
                    </div>

                    {# réponses #}
                    <div id="t{{ comment.id }}">

                        {% for answer in comment.answers %}
                            <div id="a{{ answer.id }}">
                                <div class="rounded border bg-light">
                                    <p>{{ answer.author.username }} ({{ timeAgo(answer.publishDate).text }})</p>
                                    <p>{{ answer.content }}</p>
                                </div>

                                {% if advert.isOpen %}
                                    <button class="answerTo">Answer</button>
                                {% endif %}
                                {% if is_granted('ROLE_ADMIN') %}
                                    {% include('comment/_delete_form.html.twig') %}
                                {% endif %}
                            </div>
                        {% endfor %}

                    </div>
                {% endif %}

            {% endfor %}
        {% endif %}
    </div>

    {# nouveau commentaire #}
    {% if advert.isOpen and is_granted('ROLE_USER') %}
        <h3>Leave a comment</h3>

        <div>
            <p id="answerHelp"></p>
            {% include('comment/_new_comment.html.twig') %}
        </div>
    {% endif %}


    {# scripts #}
    {% block customJS %}
        {{ encore_entry_script_tags('answerComment') }}
    {% endblock %}
    {# {% block customCSS %}
        {{ encore_entry_link_tags('') }}
    {% endblock %} #}
{% endblock %}
