{% extends 'base.html.twig' %}

{% block title %}Hello AdvertsController!{% endblock %}

{% block body %}

{# <div>author : {{ advert.author.username }} ({{ timeAgo(advert.publishDate).text }})</div> #}

{% if not app.user %}

    <h2>Oh ...</h2>

        <div>
            <p>Sorry traveler, we need to know you a bit more to show you everything.<br>
            <a href="{{ path ('app_login') }}">Speak friend</a> or <a href="{{ path ('app_register') }}">join us</a>.</p>
        </div>
        devnote : prévoir redirection ici après connexion

{% else %}

    <div>
        <p>{{ advert.author.username }} ({{ timeAgo(advert.publishDate).text }})</p>
        <p>Level : {{ advert.level }}</p>
        <p>Modality : 
        {% if advert.modality %}
            {{ advert.modality }}</p>
        {% else %}
            unspecified
        {% endif %}
        <p>Around : 
        {% if advert.area %}
            {{ advert.area }}</p>
        {% else %}
            unspecified
        {% endif %}
        <p>{{ advert.content }}</p>
    </div>

    <div>
        <h3>Comments</h3>
        
        {% for comment in advert.comments %}

            <div id='{{ comment.id }}' class='comment'>
            <hr>
            <p>{{ comment.author.username }} ({{ timeAgo(comment.publishDate).text }})
            {% if comment.answerTo %}
                in reply to: <a href="#{{ comment.answerTo.id }}">@{{ comment.answerTo.author.username }}</a></p>
                {# trouver limite caractères #}
            {% endif %}
            <p>{{ comment.content }}</p>
            </div>
        {% endfor %}
    </div>

    <div>
        <h3>Leave a comment</h3>    {# mieux en AJAX ? #}

        {{ form_start(newComment) }}

        {# trouver comment gérer réponse à #}
        {{ form_widget(newComment.content) }}
        {{ form_widget(newComment._token) }}
        <input type="submit" value="Send">

        {{ form_end(newComment, {render_rest:false}) }}
    </div>

{% endif %}

{% endblock %}
